{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  {% if validlink %}
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card m-1">
        <div class="card-body">
          <h3>Change password</h3>
          <form method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <button  class="btn btn-primary" type="submit">Cambia Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% else %}
  <p>
    Il link utilizzato non è più valido, può essere scaduto o è già stato utilizzato...
    Per favore richiedi un nuovo reset della password.
  </p>
  {% endif %}
{% endblock %}